.select__wrapper {
  @apply flex flex-col;

  .select__title {
    @apply text-sm font-bold mb-[0.6875rem] leading-6;
  }
  select {
    @apply flex-grow h-[4rem] bg-white rounded-[0.625rem] border-[1px]  outline-none border-purple500 pl-[1.5rem] text-purple500;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* Remove default arrow */
  }
}
