.page__container {
  @apply bg-white rounded-[o.625rem]  shadow-4xxl pt-[4.1875rem];

  .content {
    @apply w-[70%] mx-auto flex  h-full flex-col;

    .check__container {
      @apply flex w-full justify-center;

      .circle {
        @apply w-[5.25rem] h-[5.25rem] rounded-full shadow-4xxl flex justify-center items-center mb-[0.3125rem];
      }
    }

    .title {
      @apply text-[3rem] text-purple500 font-bold leading-[1.3958] mb-[1.875rem];
    }

    .message {
      @apply max-w-[22.25rem] text-sm font-normal leading-[1.5] text-gray2;
    }
    .return {
      background-image: linear-gradient(180deg, #f2c94c 0%, #f2994a 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: absolute;
      border-bottom: 1px solid #f2c94c;
      cursor: pointer;
    }
  }
}
