@tailwind base;
@tailwind components;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: auto;
}
::-webkit-scrollbar {
  display: none;
}
::placeholder {
  color: #4f4f4f;
}

@tailwind utilities;
